.app {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

.content {
  grid-column: 2;
}